body,html {
    margin:auto;
    border:solid 4px pink;
    background-color: rgb(244, 245, 207);
}

#destaque {
    background-image: url(./img/drip.jpg.jpg);
    background-size: 400px;
    text-align: center;
    color: rgb(7, 4, 0);
}

h1{
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    font-size: 300%;
    font-style: unset;    
}

h2{
    font-family: 'Times New Roman', Times, serif;
    font-style: oblique;
    font-size: x-large;
}

.item{
    width: 22%;
    border: 20px solid pink;
    float: left;
    text-align: center;
}

footer{
    text-align: center;
}